*{
    font-family: "Source Serif 4", serif;
    background-color: whitesmoke
}
header{
    display: flex;
    align-items: center;
}
.list-1{
    display: flex;
    list-style: none;
}
li, a{
    text-decoration: none;
    margin:10px;
}
ul li ul.sub-list-1 li{
    display: block;
    background-color: white;
}
ul li ul.sub-list-1{ 
    border-radius: 20px;
    width:300px;
    background-color: white;
    position: absolute;
    z-index:888;
    display: none;
}
ul li:hover ul.sub-list-1{
    display: block;
}
.p-1{
    font-size: 30px;
    margin-left: 100px;
    font-family:  "Pacifico", cursive;
}
.search{
    margin-left: 150px;
}
input{
    border: none;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
}
.button-1{
    border-radius: 30px;
    padding:15px;
    font-size: 15px;
    margin: 1px;
    width:100px;
    border: none;
}
.button-2{
    width:100px;
    border-radius: 30px;
    padding:15px;
    background-color: black;
    color:white;
    font-size: 15px;
}



